<h1>Add a new cocktail</h1>

<%= simple_form_for(@cocktail) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<p><%= link_to '<i class="fas fa-backward"></i> Back'.html_safe, cocktails_path, class: "btn btn-secondary"%></p>